<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.layer.xdk.ui"
    android:theme="@style/Theme.AppCompat.Light">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>

    <application
        android:name="android.support.multidex.MultiDexApplication">

        <activity
            android:name="com.layer.xdk.ui.testactivity.AvatarActivityTestView">
        </activity>

        <activity android:name=".testactivity.IdentityItemTestActivity"/>
        <activity android:name=".testactivity.ConversationItemTestActivity"/>

    </application>

</manifest>