<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sumatodev.social_chat_sdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".views.activities.MainActivity" />
        <activity android:name=".views.activities.BaseActivity" />
        <activity android:name=".views.activities.ThreadsActivity" />
        <activity
            android:name=".views.activities.ChatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".views.activities.ImageActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".views.activities.ShowImageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppCompat.Black.NoActionBar" />
    </application>

</manifest>